* {
    box-sizing: border-box;
  }


  .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 20vh;
    width: 80vw;
    column-gap: 5vh;
    row-gap: 2vw;
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: center;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  }
  .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  
  }
  
  .item3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  
    
  }
  
  .item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  
  }
  
  .item5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  
  }
  .font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    font-size: 45px;
  }
  
  .title{
    grid-column-start:2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50px;
  }
  
  .titleFont{
    text-align: center;
    font-size: 100px;
    font-family: Courier New;
    text-align: center;
  }
  .font a{
    display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  }
